
<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8"/>
    <title>【涂虎】涂虎教师工作室_高中 初中数学一对一辅导课程_教龄8年-家教网</title>
    <meta name="keywords" content="涂虎老师,涂虎教师工作室,高中 初中数学,数学老师,高中 初中数学老师,数学老师"/>
    <meta name="description" content="家教网涂虎教师工作室为您提供涂虎老师高中 初中数学1对1辅导课程：涂虎老师个人简介、教学经历、教学视频、学生课程评价、学生数量、教学时长、授课风格等信息，让家长和学生更全面的了解涂虎老师。找高中 初中数学辅导家教，就来家教网，让孩子足不出户便能享受到一线名师个性化教育服务。"/>
    <meta name="author" content="say"/>
    <!--Css-->
    <link  rel="stylesheet" type="text/css" href="css/head.css" />
    <link  rel="stylesheet" type="text/css" href="css/common.css" />
    <link  rel="stylesheet" type="text/css" href="css/nav.css" />
    <link  rel="stylesheet" type="text/css" href="css/footer.css" />
    <link rel="stylesheet" href="css/teacher_v2.0.css"/>
    <!-- lightbox-CSS -->
    <link rel="stylesheet" type="text/css" href="css/lightbox.css"/>
    <link rel="stylesheet" type="text/css" href="css/ava-time-ctrl.css"/>
    <link rel="stylesheet" type="text/css" href="css/index.v4.css"/>
</head>
<style type="text/css">
    .teacher-desc{margin-top: 30px; font-size:14px; letter-spacing:1px; line-height:24px; text-align: left;}
</style>
<body style="background: #f6f7fb;">
<!-- 顶部 -->
<!--<div class="wrap head_top clearboth">-->
    <!--<div class="head_top_centent clearboth">-->
        <!--<ul class="head_login" id="login-show" >-->
            <!--<script id="login-template" type="text/html">-->
                <!--<li><a target="_blank" href="http://s.sanhao.com/app_download.html">APP下载</a></li>-->
                <!--<% if(islogin == 1) { %>-->
                <!--<li class="login_li">您好&nbsp;<a target="_blank" href="http://www.sanhao.com:80/user.php"><%= nickname %></a>&nbsp;<span class="uType2"><%= user_type_alias %></span>，欢迎您！<a href="http://www.sanhao.com:80/login.php?do=loginout" title="退出家教网"  class="nav-btn ml-35">退出</a></li>-->
                <!--<li class="login_li-cart-on ml12"><a href="http://www.sanhao.com:80/user.php">个人中心</a></li>-->
                <!--<% if(type == 2) { %>-->
                <!--<li class="login_li-line mr12"><a href="http://www.sanhao.com:80/cart.php">购物车</a></li>-->
                <!--<% } %>-->
                <!--<% } else { %>-->
                <!--<li><a class="h-login" href="http://www.sanhao.com:80/login.php">登录</a></li>-->
                <!--<li><a class="h-regist" href="http://www.sanhao.com:80/login.php?do=reg">注册</a></li>-->
                <!--<% } %>-->
                <!--<li class="back-index"><a href="http://www.sanhao.com/index.php?city=bj&ver=2">旧版官网></a></li>-->
            <!--</script>-->
        <!--</ul>-->
    <!--</div>-->
<!--</div>&lt;!&ndash; 头部 &ndash;&gt;-->
<div class="wrap head">
    <div class="clearboth head_centent">
        <a href="#"><h1><img class="logo" src="img/logo1.png" style="width: 150px;margin-top: 30px" title="家教网" alt="家教网中小学超级在线一对一" title="家教网中小学超级在线一对一"/></h1></a>
    </div>
</div>
<div class="main-navlist" style="margin-top: 90px">
        <a class="active" href="/">
            首页
        </a><a target="_blank" href="//bbs.sanhao.com">
        社区
    </a><a target="_blank" href="//s.sanhao.com/jiaoshibang.html">
        教师帮
    </a><b id="underline" class="underline"></b>
</div><div class="mini-nav">
    <div class="container">
        <a href="/">首页</a> &gt; <a href="/course-list.php">老师列表页</a> &gt; <a class="active" href="/teacher-5266.html" >涂虎的教师工作室</a> &gt;	</div>
</div><!--20160305 wsq 改版-->
<div class="teacher_info_box">
    <div class="wrap">
        <div class="main_banner clearboth">
            <div class="teacher-ban-left">
                <div class="teacher_info_first clearboth">
                    <img class="teahcer-info-photo" width="170" height="170" src="http://img.sanhao.com/static/images/icon/loading.png" data-original=" http://img.sanhao.com/user/5266/teacher/pic.jpg?n=9436" alt="涂虎老师,涂虎教师工作室,高中 初中数学,数学老师,高中 初中数学老师,数学老师" title="涂虎老师,涂虎教师工作室,高中 初中数学,数学老师,高中 初中数学老师,数学老师"/>

                    <img class="teacher-lv" src="http://img.sanhao.com/static/images/icon/lv5.png"/>

                    <div class="teacher-info clearboth">
                        <h1>涂虎的教师工作室</h1>
                        <dl class="teacher-name">
                            <dd>
			                    			                    	<span class="line1 first">
					                     高中 初中			                        </span>
                                <span class="line1">数学</span>
			                    	<span class="line1">
			                    		教龄8年
			                    	</span>
			                    	<span  class="last">
			                    		河南省	                                </span>
                            </dd>
                            <em>（6916次浏览）</em>
                        </dl>
                    </div>
                </div>
                <div class="teacher-certification clearboth">
                    <div class="teacher-certification-list">
                        <div class="icon ok" title="已认证">
                            <span class="icon-1 "></span>
                        </div>
                        身份认证
                    </div>
                    <div class="teacher-certification-list">
                        <div class="icon  ok" title="已认证">
                            <span class="icon-2 "></span>
                        </div>
                        学历认证
                    </div>
                    <div class="teacher-certification-list">
                        <div class="icon ok" title="已认证">
                            <span class="icon-3 "></span>
                        </div>
                        教师资格
                    </div>
                    <div class="teacher-certification-list last">
                        <div class="icon ok" title="已认证">
                            <span class="icon-4 "></span>
                        </div>
                        专业资质
                    </div>
                </div>
                <ul class="teacher-ban-center-par2 clearboth">
                    <li class="first">
                        <span>866</span>
                        累计学时
                    </li>
                    <li>
                        <span>257</span>
                        学生数
                    </li>
                    <li>
                        <span>100%</span>
                        满意度
                    </li>
                </ul>


            </div>
            <div class="teacher-ban-center">
                <div class="teacher-desc">
                    河南省重点高中年级备课组组长，数学学科带头人，有1000小时的在线辅导经验                </div>

                <div class="teacher-ban-center-par3">
                    <dl>
                        <dt>
                            <span class="key">课程评分</span>

                        <span class="show">
                            <em style=" width:100%;"></em>
                            <a style=" left:100%; margin-left:-14px"></a>
                        </span>
                            <span class="value">5.0</span>
                        </dt>
                        <dd>
                            <span class="key">描述相符：</span>
                            <span class="value">5.0</span>
                        </dd>
                        <dd>
                            <span class="key">教学态度：</span>
                            <span class="value">5.0</span>
                        </dd>
                        <dd>
                            <span class="key">课程质量：</span>
                            <span class="value">5.0</span>
                        </dd>
                    </dl>
                    <dl>
                        <dt>
                            教师评价（已有<span>205</span>人次评价）
                        </dt>
                        <dd>
                            <span class="key">好评数：</span>
                            <span class="value">205</span>
                        </dd>
                        <dd>
                            <span class="key">中评数：</span>
                            <span class="value">0</span>
                        </dd>
                        <dd>
                            <span class="key">差评数：</span>
                            <span class="value">0</span>
                        </dd>
                    </dl>
                </div>
            </div>
            <div class="teacher-ban-right">
                <div class="bg"></div>
                <div class="teacher-cousre-list">
                    <ul>
                        <li cat_id="24" course_type="1" class="curr" course_id="58846 " course_price="200.00" >
                            <span class="cousre-name">高三数学课时包</span>
                            <span class="price-t">￥<em>200.00</em>/小时</span>
                        </li>
                        <li cat_id="23" course_type="1" class="" course_id="58499 " course_price="180.00" >
                            <span class="cousre-name">高二数学课时包</span>
                            <span class="price-t">￥<em>180.00</em>/小时</span>
                        </li>
                        <li cat_id="22" course_type="1" class="" course_id="58498 " course_price="170.00" >
                            <span class="cousre-name">高一数学课时包</span>
                            <span class="price-t">￥<em>170.00</em>/小时</span>
                            <span class="hot-cousre">热卖</span>
                        </li>
                        <li cat_id="30" course_type="1" class="" course_id="58684 " course_price="160.00" >
                            <span class="cousre-name">初二数学课时包</span>
                            <span class="price-t">￥<em>160.00</em>/小时</span>
                        </li>
                    </ul>
                </div>
                <div class="par_s1 clearboth">
                    <div class="key">选择课时</div>
                    <div class="value">
                        <div id="courseTimeLong" class="timeLong">
                            <input id="courseTimeLongInput" value="6" type="text" maxlength="2"/><div class="plus" title="加">+</div><div class="minus" title="减">-</div>
                        </div>
                    </div>
                </div>
                <div class="par_s1 par_s2 clearboth">
                    <div class="value ">
                        <a id="courseBuy" class="btn btn-buy">立即购买</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--20160305 wsq 改版 end-->

<!--名师详细信息-->
<div class="wrap">
    <div class="main_centent clearboth">
        <!--左边-->
        <div class="main_left">
            <div class="tab_list_box_wrap">
                <div class="tab_list_box fixed">
                    <ul class="tab_list">
                        <li class="current first">教师风采</li>
                        <li class="">成功案例</li>
                        <li class="">工作经历</li>
                        <li class="">服务保障</li>
                        <li class="">课程评价</li>
                    </ul>
                </div>
            </div>
            <!--个人资料-->
            <div class="tab_tab_centent clearboth" style="display:block">
                <!--视频-->
                <h2>教师视频</h2>
                <ul class="vidoe_list clearboth">
                    <li class="teacher2-vidio" vid="XMTY3OTAwNzk3Ng==">
                        <div class="img">
                            <div class="bg"></div>
                            <a></a>
                            <img src="http://img.sanhao.com/static/images/icon/loading.png" data-original="https://r1.ykimg.com/0542040857AAF3826A0A4A051FDC20B1"/>
                        </div>
                        <p>家教网涂虎</p>
                    </li>
                </ul>
                <!--照片-->
                <h2 class="mt45">教师照片</h2>
                <ul class="vidoe_list">
                    <li >
                        <div class="img" >
                            <a style="background: none;" href="http://img.sanhao.com/teacher_album/5266/20150709151846527.jpg?n=5062" data-lightbox="show-album"></a>
                            <img src="http://img.sanhao.com/static/images/icon/loading.png" data-original="http://img.sanhao.com/teacher_album/5266/20150709151846527.jpg?n=5062"/>
                        </div>
                        <p>毕业照</p>
                    </li>
                </ul>
                <div class="clear"></div>
                <!--风格-->
                <h2 class="mt45">授课风格</h2>
                <dl class="teacher_style clearboth mt20">
                    <dt class="fg">教师风格：</dt>
                    <dd>亦师亦友型</dd><dd>智慧型</dd><dd>书香门第型</dd><dd>内向慢热型</dd>                                </dl>
                <dl class="teacher_style clearboth ">
                    <dt class="fg">擅教学生：</dt>
                    <dd>思考探究型</dd><dd>兴趣广泛型</dd><dd>缺乏信心型</dd><dd>欠缺方法型</dd>                                </dl>

            </div>

            <!--成功案例-->
            <div class="tab_tab_centent clearboth" style="display: block;">
                <h2 class="mt45">成功案例</h2>
                <div class="teacher_history clearboth">
                    <a class="left"></a>
                    <div class="teacher_history_box" id="cgal">
                        <ul style="width: 840px;">
                            <li class="current">
                                2010年06月				                				<p>在cn刊物<少年智力开发报 数学专业>课改论坛版第46期发表文章《高中数学三级自学整体教学法》。</p>
                            </li>
                            <li class="">
                                2012年06月				                				<p>课程《算法案例》获得固始县教育系统优质课二等奖。</p>
                            </li>
                            <li class="">
                                2013年06月				                				<p>辅导学生获得数学小论文一等奖</p>
                            </li>
                            <li class="">
                                2015年03月				                				<p>在2014年度教育教学工作中，成果显著，荣获教学标兵奖。</p>
                            </li>
                        </ul>
                    </div>
                    <a class="right"></a>
                    <div class="clear"></div>
                    <div class="teacher_history_desc">
                        在cn刊物<少年智力开发报 数学专业>课改论坛版第46期发表文章《高中数学三级自学整体教学法》。	                			</div>
                </div>
            </div>

            <!--工作经历-->
            <div class="tab_tab_centent clearboth mt45" style="display: block;">
                <h2>工作经历</h2>

                <div class="teacher_history clearboth">
                    <a class="left"></a>
                    <div class="teacher_history_box " id="gzjl">
                        <ul style="width: 560px;">
                            <li class="current">
                                2008年09月			                					-
                                2015年06月				                				<p>从2008年6月毕业至今，在河南省重点高中任教，并连续三年担任高三毕业班教学工作，并创建数学群196616537，收到同学们的一致好评。</p>
                            </li>
                            <li class="">
                                2014年09月			                					-
                                2015年06月				                				<p>在2014年到2015年的学生高考成绩中，梅世兵同学以140分的成绩位居数学成绩第一名，有很多同学也有不同程度的提高。</p>
                            </li>
                        </ul>
                    </div>
                    <a class="right"></a>
                    <div class="clear"></div>
                    <div class="teacher_history_desc">
                        从2008年6月毕业至今，在河南省重点高中任教，并连续三年担任高三毕业班教学工作，并创建数学群196616537，收到同学们的一致好评。	                			</div>
                </div>
            </div>
            <!--课程方案-->
            <!--服务保障 0160305 wsq-->
            <div class="tab_tab_centent " style="display: block;">
                <h2 class="mt40">服务保障</h2>
                <div class="fuwubaozhang">
                    <h4>“七维一体”深度服务保障体系
                        	<span>
                        		10年个性化基础教育服务经验    每一位孩子都是独特的<br />
								他的成功，需要个性化的辅导和强大的保障服务
                        	</span>
                    </h4>
                    <ul class="fuwubaozhang1 clearboth" >
                        <li><img src="img/teacher_list/1.jpg"/><p>一套个性方案</p></li>
                        <li><img src="img/teacher_list/2.jpg"/><p>一套个性化目标导学<br />
                            保障学习系统</p></li>
                        <li><img src="img/teacher_list/3.jpg"/><p>一款旁听支持软件</p></li>
                        <li><img src="img/teacher_list/4.jpg"/><p>一位课程顾问</p></li>
                        <li><img src="img/teacher_list/5.jpg"/><p>一位专业助教</p></li>
                        <li><img src="img/teacher_list/6.jpg"/><p>一位专业老师</p></li>
                        <li class="last"><img src="img/teacher_list/7.jpg"/><p>一位技术保障人员</p></li>
                    </ul>
                </div>
            </div>
            <!--服务保障 0160305 wsq end-->
            <!--课程评价-->

            <div class="tab_tab_centent clearboth grade_show_list" id="comment_content"  style="display:block">
                <h2>课程评价</h2>
                <div class="grade_key_labels">
                    <span class="grade_key_label" tagid="0">全部标签</span>
                    <span class="grade_key_label" tagid="1">幽默</span>
                    <span class="grade_key_label" tagid="2">犀利</span>
                    <span class="grade_key_label" tagid="3">智慧</span>
                    <span class="grade_key_label" tagid="4">负责</span>
                    <span class="grade_key_label" tagid="5">因材施教</span>
                    <span class="grade_key_label" tagid="6">内容新颖</span>
                    <span class="grade_key_label" tagid="7">通俗易懂</span>
                    <span class="grade_key_label" tagid="8">普通话</span>
                    <span class="grade_key_label" tagid="9">高颜值</span>
                    <span class="grade_key_label" tagid="10">实力派</span>
                    <span class="grade_key_label" tagid="11">提分快</span>
                    <span class="grade_key_label" tagid="12">还行吧</span>
                </div>

                <div id="grade_show_content">
                    <div class="grade_show">
                        <img class="pic"
                             src="img/teacher_list/default.png"/>

                        <div class="grade_box">
                            <div class="star_box_wrap">
                                <div class="grade_name">评分：</div>
                                <div class="star_box" title="5">
                                    <div class="star_bg">
                                        <div class="star" style="width:100%;"></div>
                                    </div>
                                </div>
                                <div class="grade_each">描述相符：5.0
                                    教学态度：5.0
                                    课程质量：5.0
                                </div>
                                <span class="grade_gr">2017-03-26 &nbsp;初二数学</span>
                            </div>
                            <p class="review_text">老师上课上得挺好的，挺吸引孩子</p>
                        </div>
                    </div>
                    <div class="grade_show">
                        <img class="pic"
                             src="http://img.sanhao.com/user/25425/student/pic.jpg?n=165"/>

                        <div class="grade_box">
                            <div class="star_box_wrap">
                                <div class="grade_name">评分：</div>
                                <div class="star_box" title="5">
                                    <div class="star_bg">
                                        <div class="star" style="width:100%;"></div>
                                    </div>
                                </div>
                                <div class="grade_each">描述相符：5.0
                                    教学态度：5.0
                                    课程质量：5.0
                                </div>
                                <span class="grade_gr">2017-03-25 &nbsp;初二数学</span>
                            </div>
                            <p class="review_text">好！</p>
                        </div>
                    </div>
                    <div class="grade_show">
                        <img class="pic"
                             src="img/teacher_list/default.png"/>

                        <div class="grade_box">
                            <div class="star_box_wrap">
                                <div class="grade_name">评分：</div>
                                <div class="star_box" title="5">
                                    <div class="star_bg">
                                        <div class="star" style="width:100%;"></div>
                                    </div>
                                </div>
                                <div class="grade_each">描述相符：5.0
                                    教学态度：5.0
                                    课程质量：5.0
                                </div>
                                <span class="grade_gr">2017-03-23 &nbsp;高三数学</span>
                            </div>
                            <p class="review_text">讲的很有耐心很亲切，讲的也很明白。很好的。</p>
                        </div>
                    </div>
                    <div class="grade_show">
                        <img class="pic"
                             src="http://img.sanhao.com/user/25425/student/pic.jpg?n=165"/>

                        <div class="grade_box">
                            <div class="star_box_wrap">
                                <div class="grade_name">评分：</div>
                                <div class="star_box" title="5">
                                    <div class="star_bg">
                                        <div class="star" style="width:100%;"></div>
                                    </div>
                                </div>
                                <div class="grade_each">描述相符：5.0
                                    教学态度：5.0
                                    课程质量：5.0
                                </div>
                                <span class="grade_gr">2017-03-23 &nbsp;初二数学</span>
                            </div>
                            <p class="review_text">好!</p>
                        </div>
                    </div>
                    <div class="grade_show">
                        <img class="pic"
                             src="http://img.sanhao.com/user/25425/student/pic.jpg?n=165"/>

                        <div class="grade_box">
                            <div class="star_box_wrap">
                                <div class="grade_name">评分：</div>
                                <div class="star_box" title="5">
                                    <div class="star_bg">
                                        <div class="star" style="width:100%;"></div>
                                    </div>
                                </div>
                                <div class="grade_each">描述相符：5.0
                                    教学态度：5.0
                                    课程质量：5.0
                                </div>
                                <span class="grade_gr">2017-03-20 &nbsp;初二数学</span>
                            </div>
                            <p class="review_text">好！</p>
                        </div>
                    </div>

                    <!--分页-->
                    <div class="page">
                        <a class="current">1</a><a href="teacher.php?id=5266.page2" class="lesson-page">2</a><a href="teacher.php?id=5266.page3" class="lesson-page">3</a><a href="teacher.php?id=5266.page4" class="lesson-page">4</a><a href="teacher.php?id=5266.page5" class="lesson-page">5</a><span class="lesson-page-point">···</span><a href="teacher.php?id=5266.page44" class="lesson-page">44</a><a class="next" href="teacher.php?id=5266.page2">下页</a>                            </div>
                </div>
            </div>


        </div>
        <!--右边-->
        <div class="main_right">
            <dl class="part">
                <dt>授课时间<i class="i-enabled">可预约</i><i class="i-disabled">不可预约</i></dt>
                <dd id="ava-time-wrapper" class="fill"></dd>
            </dl>
            <h2>教学专长</h2>
            <div class="main_right_box">
                <div class="expertise">
                    <p>高三数学推理与证明</p>
                    <p>高三数学几何证明选讲</p>
                    <p>高三数学圆锥曲线</p>
                    <p>高三数学解析几何综合</p>
                </div>
            </div>
            <h2 >成长档案</h2>
            <div class="main_right_box">
                <div class="teacher_archives">
                    <p class="mb20"><span class="report"></span>已完成<i>641</i>个学情报告</p>
                    <p><span class="plan"></span>已完成<i>1</i>个培养计划</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!--弹出确认框-->
<div class="confirmBox" id="confirmBox">
    <div class="confirmBoxWarp">
        <div class="bg"></div>
        <div class="confBox">
            <h2 class="conftitle"><a  class="confClose">×</a><!--标题--><span class="title">确认</span></h2>
            <div class="confCentent">
                <!--确认框信息-->
            </div>
            <ul class="confirmBoxControl both">
                <li class="yes "><a class="button_sty1" >确定</a></li>
                <li class="no"><a class="button_sty2" >取消</a></li>
            </ul>
        </div>
    </div>
</div>
<!--end 弹出确认框-->
<!--错误提示框-->
<div id="errorBox" class="errorBox">
    <div class="errorBoxWarp">
        <div class="bg"></div>
        <div class="errbox">
            <h2 class="errtitle"><a class="errClose" >×</a><span class="title">提示</span></h2>
            <div class="errCentent"><!--错误提示框信息--></div>
            <div class="errorBox-sure"><a class="button_sty1 err-sure">确定</a></div>
        </div>
    </div>
</div>
<!--end 错误提示框-->
<!--jQuery-->
<!--[if (gte IE 9)|!(IE)]><!-->
<script type="text/javascript" src="js/jquery.2.1.4.min.js"></script>
<!--<![endif]-->
<!--[if lte IE 8 ]>
<script type="text/javascript" src="js/jquery.1.11.3.min.js"></script>
<script type="text/javascript" src="js/modernizr.min.js"></script>
<![endif]-->
<script src="js/template-native.js"></script>
<script type="text/javascript" src="js/jquery.lazyload.min.js"></script><!-- 图片延迟加载 -->
<script type="text/javascript" src="js/jquery.placeholder.min.js"></script><!--placeholder-->
<script type="text/javascript" src="http://img.sanhao.com/static/js/lightbox/js/lightbox.js"></script>
<script type="text/javascript" src="http://img.sanhao.com/static/js/avatime/ava-time-ctrl.js"></script>
<script type="text/javascript" src="http://img.sanhao.com/static/js/teacher.js"></script>
</body>
</html>
